<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.framework.dao.CodeDao">
  
  <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache" flushInterval="6000000" size="1024"  readOnly="true"/>  -->
  
  <resultMap id="BaseResultMap" type="org.apache.framework.model.Code">
     <id column="id"  property="id" />
     <result column="group_no" property="groupNo" />
     <result column="group_name" property="groupName" />
     <result column="item_no" property="itemNo" />
     <result column="item_key" property="itemKey" />
     <result column="item_value" property="itemValue" />
     <result column="sequence" property="sequence" />
     <result column="is_use" property="isUse" />
     <result column="lock_version" property="lockVersion" />
     <result column="create_time" property="createTime" />
     <result column="create_user_id" property="createUserId" />
     <result column="update_time" property="updateTime" />
     <result column="update_user_id" property="updateUserId" />
     <result column="is_locked" property="isLocked" />
     <result column="is_delete" property="isDelete" />
     <result column="rsv1" property="rsv1" />
     <result column="rsv2" property="rsv2" />
     <result column="rsv3" property="rsv3" />
  </resultMap>
  
  <sql id="Example_Where_Clause">
      <trim prefix="" prefixOverrides="and" suffix="">
	      <foreach collection="oredCriteria" item="criteria" separator="or">
	        <if test="criteria.valid">
	            <foreach collection="criteria.criteria" item="criterion">
	              <choose>
	                <when test="criterion.noValue">
	                  and ${criterion.condition} 
	                </when>
	                <when test="criterion.singleValue">
	                  and ${criterion.condition} #{criterion.value}
	                </when>
	                <when test="criterion.betweenValue">
	                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
	                </when>
	                <when test="criterion.listValue">
	                  and ${criterion.condition}
	                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
	                    #{listItem}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	        </if>
	      </foreach>
	      <include refid="IsDelete_Where_Clause" />
      </trim>
  </sql>
  
  <sql id="Select_Example_Where_Clause">
      <trim prefix="" prefixOverrides="and" suffix="">
          <include refid="selectStartPageId" />
	      <foreach collection="oredCriteria" item="criteria" separator="or">
	        <if test="criteria.valid">
	            <foreach collection="criteria.criteria" item="criterion">
	              <choose>
	                <when test="criterion.noValue">
	                  and ${criterion.condition} 
	                </when>
	                <when test="criterion.singleValue">
	                  and ${criterion.condition} #{criterion.value}
	                </when>
	                <when test="criterion.betweenValue">
	                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
	                </when>
	                <when test="criterion.listValue">
	                  and ${criterion.condition}
	                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
	                    #{listItem}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	        </if>
	      </foreach>
	      <include refid="IsDelete_Where_Clause" />
      </trim>
  </sql>
  
  <sql id="Update_By_Example_Where_Clause">
      <trim prefix="" prefixOverrides="and" suffix="">
	      <foreach collection="example.oredCriteria" item="criteria" separator="or">
	        <if test="criteria.valid">
	            <foreach collection="criteria.criteria" item="criterion">
	              <choose>
	                <when test="criterion.noValue">
	                  and ${criterion.condition}
	                </when>
	                <when test="criterion.singleValue">
	                  and ${criterion.condition} #{criterion.value}
	                </when>
	                <when test="criterion.betweenValue">
	                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
	                </when>
	                <when test="criterion.listValue">
	                  and ${criterion.condition}
	                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
	                    #{listItem}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	        </if>
	      </foreach>
	      <include refid="IsDelete_Where_Clause" />
      </trim>
  </sql>
  
  <sql id="Base_Column_List">
     id, group_no, group_name, item_no, item_key, item_value, sequence, is_use, lock_version, create_time, create_user_id, update_time, update_user_id, is_locked, is_delete, rsv1, rsv2, rsv3
  </sql>
  
  <sql id="selectStartPageId">
     <if test="offset != null">
         and id 
         <choose>
			<when test="sortKey == 'desc'">&lt;=</when>
			<otherwise>
				&gt;=
			</otherwise>
		</choose>
          
         (select
		    <if test="distinct">
		      distinct
		    </if>
		    id
		    from code
		    <if test="_parameter != null">
		      <where><include refid="Example_Where_Clause" /> </where>
		    </if>
		    <if test="groupByClause != null">
		      group by ${groupByClause}
		    </if>
		    <if test="orderByClause != null">
		      order by ${orderByClause}
		    </if>  limit ${offset}, 1)
     </if>
  </sql>
  
  <sql id="IsDelete_Where_Clause">
	        and is_delete = 'N'
  </sql>
  
  <select id="selectByExample" parameterType="org.apache.framework.model.example.CodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <choose>
		<when test="column != null">${column}</when>
		<otherwise>
			<include refid="Base_Column_List" />
		</otherwise>
	</choose>
    from code
    
    <choose>
		<when test="pagerKey == 'id'">
             <if test="_parameter != null">
		        <where>
			      <include refid="Select_Example_Where_Clause" /> 
		        </where>
		     </if>
		     <if test="groupByClause != null">
		       group by ${groupByClause}
		     </if>
		     <if test="orderByClause != null">
		       order by ${orderByClause}
		     </if>
		     <if test="pageSize != null">
		        limit ${pageSize}
		     </if>
        </when>
		<otherwise>
			<if test="_parameter != null">
		        <where>
			      <include refid="Example_Where_Clause" /> 
		        </where>
		    </if>
		    <if test="groupByClause != null">
		      group by ${groupByClause}
		    </if>
		    <if test="orderByClause != null">
		      order by ${orderByClause}
		    </if>
		    <if test="pageSize != null">
		       limit ${offset},${pageSize}
		    </if>
		</otherwise>
	</choose>
		
 
  </select>
  
  <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from code
    where id = #{id}
    <include refid="IsDelete_Where_Clause" />
  </select>
  
  <delete id="deleteById" parameterType="Long">
    delete from code
    where id = #{id} 
    <include refid="IsDelete_Where_Clause" />
  </delete>
  
  <delete id="deleteByExample" parameterType="org.apache.framework.model.example.CodeExample">
    delete from code
    <if test="_parameter != null">
      <where>
         <include refid="Example_Where_Clause" /> 
         <include refid="IsDelete_Where_Clause" />
      </where>
    </if>
  </delete>
   
  <insert id="insert" parameterType="org.apache.framework.model.Code" useGeneratedKeys="true" keyProperty="id">
    insert into code
    <trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="id != null">
        id,
      </if>
	  <if test="groupNo != null">
        group_no,
      </if>
	  <if test="groupName != null">
        group_name,
      </if>
	  <if test="itemNo != null">
        item_no,
      </if>
	  <if test="itemKey != null">
        item_key,
      </if>
	  <if test="itemValue != null">
        item_value,
      </if>
	  <if test="sequence != null">
        sequence,
      </if>
	  <if test="isUse != null">
        is_use,
      </if>
	  <if test="lockVersion != null">
        lock_version,
      </if>
	  <if test="createTime != null">
        create_time,
      </if>
	  <if test="createUserId != null">
        create_user_id,
      </if>
	  <if test="updateTime != null">
        update_time,
      </if>
	  <if test="updateUserId != null">
        update_user_id,
      </if>
	  <if test="isLocked != null">
        is_locked,
      </if>
	  <if test="isDelete != null">
        is_delete,
      </if>
	  <if test="rsv1 != null">
        rsv1,
      </if>
	  <if test="rsv2 != null">
        rsv2,
      </if>
	  <if test="rsv3 != null">
        rsv3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="groupNo != null">
        #{groupNo},
      </if>
      <if test="groupName != null">
        #{groupName},
      </if>
      <if test="itemNo != null">
        #{itemNo},
      </if>
      <if test="itemKey != null">
        #{itemKey},
      </if>
      <if test="itemValue != null">
        #{itemValue},
      </if>
      <if test="sequence != null">
        #{sequence},
      </if>
      <if test="isUse != null">
        #{isUse},
      </if>
      <if test="lockVersion != null">
        #{lockVersion},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="createUserId != null">
        #{createUserId},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="updateUserId != null">
        #{updateUserId},
      </if>
      <if test="isLocked != null">
        #{isLocked},
      </if>
      <if test="isDelete != null">
        #{isDelete},
      </if>
      <if test="rsv1 != null">
        #{rsv1},
      </if>
      <if test="rsv2 != null">
        #{rsv2},
      </if>
      <if test="rsv3 != null">
        #{rsv3},
      </if>
     </trim>
  </insert>
  
  <select id="countByExample" parameterType="org.apache.framework.model.example.CodeExample" resultType="java.lang.Integer">
    <if test="groupByClause != null">
     select count(*) from (
    </if>
       select
       <choose>
			<when test="distinct and column != null">count(distinct  ${column}) </when>
			<otherwise>
				count(*)
			</otherwise>
	   </choose>
       from code
    <if test="_parameter != null">
      <where>
         <include refid="Example_Where_Clause" /> 
      </where>
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    ) as a
    </if>
  </select>
  
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="org.apache.framework.model.Code">
		select
		<include refid="Base_Column_List" />
		from code
		<where>
		      <if test="id != null"> 
				 and id =  #{id}
			  </if>
		      <if test="groupNo != null"> 
				 and group_no =  #{groupNo}
			  </if>
		      <if test="groupName != null"> 
				 and group_name =  #{groupName}
			  </if>
		      <if test="itemNo != null"> 
				 and item_no =  #{itemNo}
			  </if>
		      <if test="itemKey != null"> 
				 and item_key =  #{itemKey}
			  </if>
		      <if test="itemValue != null"> 
				 and item_value =  #{itemValue}
			  </if>
		      <if test="sequence != null"> 
				 and sequence =  #{sequence}
			  </if>
		      <if test="isUse != null"> 
				 and is_use =  #{isUse}
			  </if>
		      <if test="lockVersion != null"> 
				 and lock_version =  #{lockVersion}
			  </if>
		      <if test="createTime != null"> 
				 and create_time =  #{createTime}
			  </if>
		      <if test="createUserId != null"> 
				 and create_user_id =  #{createUserId}
			  </if>
		      <if test="updateTime != null"> 
				 and update_time =  #{updateTime}
			  </if>
		      <if test="updateUserId != null"> 
				 and update_user_id =  #{updateUserId}
			  </if>
		      <if test="isLocked != null"> 
				 and is_locked =  #{isLocked}
			  </if>
		      <if test="isDelete != null"> 
				 and is_delete =  #{isDelete}
			  </if>
		      <if test="rsv1 != null"> 
				 and rsv1 =  #{rsv1}
			  </if>
		      <if test="rsv2 != null"> 
				 and rsv2 =  #{rsv2}
			  </if>
		      <if test="rsv3 != null"> 
				 and rsv3 =  #{rsv3}
			  </if>
			<include refid="IsDelete_Where_Clause" />
		</where>
	</select>
	
   <select id="sumList" parameterType="org.apache.framework.model.example.CodeExample" resultMap="BaseResultMap">
	    select
	    <if test="distinct">
	      distinct
	    </if>
	    <choose>
			<when test="column != null">${column}</when>
			<otherwise>
			    <trim prefix="values (" suffix=")" suffixOverrides=",">
				        sum(id) as id,
				        sum(sequence) as sequence,
				        sum(lock_version) as lockVersion,
				        sum(create_user_id) as createUserId,
				        sum(update_user_id) as updateUserId,
				</trim>
			</otherwise>
		</choose>
	    from code
	    <if test="_parameter != null">
	       <where>
		      <include refid="Example_Where_Clause" /> 
		      <include refid="IsDelete_Where_Clause" />
	       </where>
	    </if>
	    <if test="groupByClause != null">
	      group by ${groupByClause}
	    </if>
	    <if test="orderByClause != null">
	      order by ${orderByClause}
	    </if>
  </select>
  
  <update id="updateByExample" parameterType="map">
    update code
    <set>
      <if test="record.groupNo != null">
        group_no = #{record.groupNo},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName},
      </if>
      <if test="record.itemNo != null">
        item_no = #{record.itemNo},
      </if>
      <if test="record.itemKey != null">
        item_key = #{record.itemKey},
      </if>
      <if test="record.itemValue != null">
        item_value = #{record.itemValue},
      </if>
      <if test="record.sequence != null">
        sequence = #{record.sequence},
      </if>
      <if test="record.isUse != null">
        is_use = #{record.isUse},
      </if>
      <if test="record.lockVersion != null">
        lock_version = #{record.lockVersion},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId},
      </if>
      <if test="record.isLocked != null">
        is_locked = #{record.isLocked},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete},
      </if>
      <if test="record.rsv1 != null">
        rsv1 = #{record.rsv1},
      </if>
      <if test="record.rsv2 != null">
        rsv2 = #{record.rsv2},
      </if>
      <if test="record.rsv3 != null">
        rsv3 = #{record.rsv3},
      </if>
    </set>
    <if test="_parameter != null">
       <where>
	      <include refid="Update_By_Example_Where_Clause" />
	      <include refid="IsDelete_Where_Clause" />
	   </where>
    </if>
  </update>
  
  <update id="updateById" parameterType="org.apache.framework.model.Code">
    update code
    <set>
	  <if test="groupNo != null">
        group_no = #{groupNo},
      </if>
	  <if test="groupName != null">
        group_name = #{groupName},
      </if>
	  <if test="itemNo != null">
        item_no = #{itemNo},
      </if>
	  <if test="itemKey != null">
        item_key = #{itemKey},
      </if>
	  <if test="itemValue != null">
        item_value = #{itemValue},
      </if>
	  <if test="sequence != null">
        sequence = #{sequence},
      </if>
	  <if test="isUse != null">
        is_use = #{isUse},
      </if>
	  <if test="lockVersion != null">
        lock_version = #{lockVersion},
      </if>
	  <if test="createTime != null">
        create_time = #{createTime},
      </if>
	  <if test="createUserId != null">
        create_user_id = #{createUserId},
      </if>
	  <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
	  <if test="updateUserId != null">
        update_user_id = #{updateUserId},
      </if>
	  <if test="isLocked != null">
        is_locked = #{isLocked},
      </if>
	  <if test="isDelete != null">
        is_delete = #{isDelete},
      </if>
	  <if test="rsv1 != null">
        rsv1 = #{rsv1},
      </if>
	  <if test="rsv2 != null">
        rsv2 = #{rsv2},
      </if>
	  <if test="rsv3 != null">
        rsv3 = #{rsv3},
      </if>
    </set>
    where id = #{id}
    <include refid="IsDelete_Where_Clause" />
  </update>
   
   <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into code (
			id, group_no, group_name, item_no, item_key, item_value, sequence, is_use, lock_version, create_time, create_user_id, update_time, update_user_id, is_locked, is_delete, rsv1, rsv2, rsv3
		) 
		values
	    <foreach collection="list" item="item" index="index" separator="," >
	       <trim prefix="(" suffix=")" suffixOverrides=",">
			    #{item.id},
			    #{item.groupNo},
			    #{item.groupName},
			    #{item.itemNo},
			    #{item.itemKey},
			    #{item.itemValue},
			    #{item.sequence},
			    #{item.isUse},
			    #{item.lockVersion},
			    #{item.createTime},
			    #{item.createUserId},
			    #{item.updateTime},
			    #{item.updateUserId},
			    #{item.isLocked},
			    #{item.isDelete},
			    #{item.rsv1},
			    #{item.rsv2},
			    #{item.rsv3},
	       </trim>
	    </foreach>
	</insert>
	
	
	
	
	
	
	
	
	<!-- 自定义查询扩展     -->
</mapper>