<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- shiro过滤器 start -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="${loginUrl}"></property>
		<property name="successUrl" value="${successUrl}"></property>
		<property name="filters">
			<map>
				<entry key="casFilter">
					<bean class="org.apache.shiro.cas.CasFilter">
						<!--配置验证错误时的失败页面 /main 为系统登录页面 -->
						<property name="failureUrl" value="/message.jsp" />
					</bean>
				</entry>
			</map>
		</property>
		<!-- 过滤器链，请求url对应的过滤器 -->
		<property name="filterChainDefinitions">
			<value>
				/message.jsp=anon
				/logout=logout
				/shiro-cas=casFilter
				/** =user
			</value>
		</property>
	</bean>
	<!-- shiro过滤器 end -->

	<!-- 保证实现shiro内部的生命周期函数bean的执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />


	<!-- 第三：shiro管理中心类 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroRealm"></property>
		<property name="sessionMode" value="http"></property>
		<property name="subjectFactory" ref="casSubjectFactory"></property>
		<!-- ehcahe缓存shiro自带 -->
		<property name="cacheManager" ref="shiroEhcacheManager"></property>

		<!-- redis缓存 -->
		<!-- <property name="cacheManager" ref="redisCacheManager" /> -->

		<!-- sessionManager -->
		<property name="sessionManager" ref="sessionManager"></property>
	</bean>

	<!-- shiro的自带缓存管理器encahe -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>
</beans>